#header .content p {
	text-transform: none;
	letter-spacing: 0.1rem;
}

#footer .copyright {
	text-transform: none;
	letter-spacing: 0.1rem;
}

body.is-preload #bg:before {
	background-color: #2E3A51;
}

body, input, select, textarea {
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, "Helvetica Neue", Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
	text-transform: none;
	letter-spacing: 0.1rem;
}
